<link rel="stylesheet" href="../css/styles.css" />
<section class="section">
  <div class="container">
    <h3 class="catalog-title">Catalog</h3>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-container">
          <picture>
            <source />
            <source />
            <source />
          </picture>
          <img src="" />
          <p class="catalog-text">Garmin Fenix 7X Pro Sapphire Solar</p>
          <p class="catalog-price">€500</p>
        </div>
      </li>

      <li class="catalog-item">
        <div class="catalog-container">
          <picture>
            <source />
            <source />
            <source />
          </picture>
          <p class="catalog-text">Garmin Marq Athlete</p>
          <p class="catalog-price">€450</p>
        </div>
      </li>

      <li class="catalog-item">
        <div class="catalog-container">
          <picture>
            <source />
            <source />
            <source />
          </picture>
          <p class="catalog-text">Garmin Descent MK1</p>
          <p class="catalog-price">€680</p>
        </div>
      </li>

      <li class="catalog-item">
        <div class="catalog-container">
          <picture>
            <source />
            <source />
            <source />
          </picture>
          <p class="catalog-text">Garmin D2 Delta PX</p>
          <p class="catalog-price">€380</p>
        </div>
      </li>
    </ul>
    <button type="button" class="catalog-btn">Show more</button>
  </div>
</section>
