<section class="section">
    <div class="container">
        <h2 class="title cont-title">Contact Us</h2>
        <div class="modal-contact-form">
            <p class="cont-text">Please use the form below to contact us. Enter your name, email, phone, and message and
                we'll get back to
                you shortly.</p>
            <form class="contact-form">
                <div>
                    <label for="name"></label>
                    <div>
                        <input type="text" name="name" placeholder="Name">
                    </div>
                </div>
                <div>
                    <label for="email"></label>
                    <div>
                        <input type="text" name="email" placeholder="Email">
                    </div>
                </div>
                <div>
                    <label for="phone"></label>
                    <div>
                        <input type="text" name="phone" placeholder="+380">
                    </div>
                </div>
                <div>
                    <label for="comment"></label>
                    <textarea name="comment" placeholder="Comment"></textarea>
                </div>
                <div>
                    <button type="button" class="contact-form-btn">Send</button>
                </div>
            </form>
        </div>
        <div class="contact-img">
            <img class="cont-img" src="./img/contact-us/cont-us-mob.jpg"
                srcset="./img/contact-us/cont-us-mob-2x.jpg 2x, ./img/contact-us/cont-us-mob.jpg 1x"
                alt="watches on stone">
        </div>
    </div>
</section>