<header class="section">
    <div class="container">
         <nav class="navigator">
      <a href="./index.html" target="_blank" class="header-logo">whatchcharm</a>
      <ul class="header-list">
        <li class="header-list-item">
          <a href="./index.html" class="header-list-ref">Home</a>
        </li>
        <li class="header-list-item">
          <a href="./about-us.html" class="header-list-ref">About Us</a>
        </li>
        <li class="header-list-item">
          <a href="./catalog.html" class="header-list-ref">Catalog</a>
        </li>
        <li class="header-list-item">
          <a href="./sale.html" class="header-list-ref">Sale</a>
        </li>
        <li class="header-list-item">
          <a href="./reviews.html" class="header-list-ref">Reviews</a>
        </li>
        <li class="header-list-item">
          <a href="./contact-us.html" class="header-list-ref">Contact Us</a>
        </li>
      </ul>
      <ul class="header-sm-list">
        <li class="header-sm-list-item">
          <a href="" class="header-sm-list-ref">
            <svg>
              <use></use>
            </svg>
          </a>
        </li>
        <li class="header-sm-list-item">
          <a href="" class="header-sm-list-ref">
            <svg>
              <use></use>
            </svg>
          </a>
        </li>
        <li class="header-sm-list-item">
          <a href="" class="header-sm-list-ref">
            <svg>
              <use></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="bm-btn">
        <svg width="24" height="24">
            <use href="/src/img/icons.svg#icon-bm"></use>
        </svg>
      </button>
    </nav>

    <div class="mob-menu">
        <div>
            <button type="button" class="close-btn">
        <svg width="8" height="8" class="close-btn-svg">
          <use href="/src/img/icons.svg#icon-x-big"></use>
        </svg>
      </button>
      <nav class="menu-navigator">
        <ul class="menu-list">
          <li class="menu-list-item">
            <a class="menu-list-ref " href="" >Home</a>
          </li>
          <li class="menu-list-item">
            <a href="">About Us</a>
          </li>
          <li class="menu-list-item">
            <a href="">Catalog</a>
          </li>
          <li class="menu-list-item">
            <a href="">Sale</a>
          </li>
          <li class="menu-list-item">
            <a href="">Reviews</a>
          </li>
          <li class="menu-list-item">
            <a href="">Contact Us</a>
          </li>
        </ul>
        <ul class="header-sm-list">
          <li class="menu-sm-list-item">
            <a href="" class="menu-sm-list-ref">
              <svg>
                <use href="/src/img/icons.svg#icon-Facebook"></use>
              </svg>
            </a>
          </li>
          <li class="menu-sm-list-item">
            <a href="" class="menu-sm-list-ref">
              <svg>
                <use href="/src/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="menu-sm-list-item">
            <a href="" class="menu-sm-list-ref">
              <svg>
                <use href="/src/img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
 </div>
</div>
</header>