<section class="section">
    <div class="container">
        <div class="container-h1-p">
            <h1 class="title-h1">Welcome to our <span class="decorait-collection">collection</span> of premium watches</h1>
            <p class="subtitle">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
        </div>
      <div class="section-avatar">
            <div class="conteiner-team">
                
                   <div class="avatar"><img src="./img/1-x1.png" srcset="../img/1-x1.png 1x, ./img/1-x2.png 2x" width="44" height="44" alt=""/></div>
                   <div class="avatar"><img src="./img/2-x1.png" srcset="../img/2-x1.png 1x, ./img/2-x2.png 2x" width="44" height="44" alt="" /></div>
                   <div class="avatar"><img src="./img/3-x1.png" srcset="../img/3-x1.png 1x, ./img/3-x2.png 2x" width="44" height="44" alt="" /></div>
               
            </div>
            <a href="" class="link-scrol">Scroll down</a>
      </div>
      <div class="image-hero">
        
        <picture> 
          <source media="(max-width:767px)" srcset="../img/hero/hero-mobile-x1.jpg 1x, /img/hero/hero-watch-mob-2x.jpg 2x" alt="foto">
          <source media="(min-width:768px) and (max-width:1157px)" srcset="./img/hero/hero-watch-tablet.jpg 1x, ./img/hero/hero-watch-tablet-2x.jpg 2x">
          <source media="(min-width:1158px)" srcset="./img/hero/hero-watch-decktop.jpg 1x, ./img/hero/hero-watch-decktop-2x.jpg 2x">
        </picture>        
    </div>
    </section>