<section class="section" id="reviews">
  <div class="container">
    <div class="reviews">
      <h2 class="reviews-headline">Reviews</h2>
      <ul class="user-list">
        <li class="user-item">
          <div class="user-wrap">
            <img
              srcset="
                ./img/reviews/john-wax.png    1x,
                ./img/reviews/john-wax-2x.png 2x
              "
              src="./img/reviews/john-wax.png"
              alt="John Wax"
              class="user-icon"
            />
            <h3 class="user-title">John Wax</h3>
            <p class="user-text">
              Buying a watch from was the best choice for me. The design is
              perfectly combined with high quality materials. The strap fits
              nicely on the hand, and the mechanism works flawlessly.
            </p>
          </div>
        </li>
        <li class="user-item">
          <div class="user-wrap">
            <img
              srcset="
                ./img/reviews/victoria-romashenko.png    1x,
                ./img/reviews/victoria-romashenko-2x.png 2x
              "
              src="./img/reviews/victoria-romashenko.png"
              alt="Victoria Romashenko"
              class="user-icon"
            />
            <h3 class="user-title">Victoria Romashenko</h3>
            <p class="user-text">
              Can't take my eyes off my watch from. Every time I put it on, it
              is admired by those around me. The build quality and attention to
              detail make it a real gem among my accessories.
            </p>
          </div>
        </li>
        <li class="user-item">
          <div class="user-wrap">
            <img
              srcset="
                ./img/reviews/anastasia-trachuk.png    1x,
                ./img/reviews/anastasia-trachuk-2x.png 2x
              "
              src="./img/reviews/anastasia-trachuk.png"
              alt="Anastasia Trachuk"
              class="user-icon"
            />
            <h3 class="user-title">Anastasia Trachuk</h3>
            <p class="user-text">
              My watch from is a real masterpiece. Every detail impresses with
              the high quality of execution. Special features like [specify
              features] make it an indispensable companion in my daily life.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
