input {
    font-family: inherit;
}

input:placeholder-shown:focus,
input:placeholder-shown:hover {
    border-color: #3350e6;
}

textarea {
    font-family: inherit;
}

textarea:placeholder-shown:focus,
textarea:placeholder-shown:hover {
    border-color: #3350e6;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .contact-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1280px) {
    .contact-container {
        gap: 40px;
    }
}

.cont-title {
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .cont-title {
        margin-bottom: 40px;
    }
}

.modal-contact-form {
    background-color: #f3f3f3;
    border-radius: 30px;
    padding: 48px 28px;
}

@media screen and (min-width: 768px) {
    .modal-contact-form {
        padding: 50px 122px;
    }
}

@media screen and (min-width: 1280px) {
    .modal-contact-form {
        padding: 50px 60px;
    }
}

.cont-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    padding-bottom: 28px;
    max-width: 279px;
}

@media screen and (min-width: 768px) {
    .cont-text {
        max-width: 460px;
        font-size: 16px;
        line-height: 1.25;
    }
}



.contact-form {}

.cont-input {
    width: 100%;
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    height: 42px;
    background-color: transparent;
    margin-bottom: 18px;
    font-size: 14px;
    padding-left: 14px;
    outline: transparent;
}

.cont-input:focus,
.cont-input:hover {
    border-color: #3350e6;
}

.cont-form-text {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 136px 54px 14px;
    width: 100%;
    background-color: transparent;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 28px;
    outline: transparent;
}

@media screen and (min-width: 768px) {
    .cont-form-text {
        margin-bottom: 32px;
    }
}


.contact-form-btn {
    border-radius: 16px;
    padding: 12px 50px;
    width: 134px;
    height: 42px;
    background: #3350e9;
    border: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: #fbfbfb;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .contact-form-btn {
        padding: 17px 63px;
        width: 160px;
        height: 52px;
    }
}

.contact-form-btn:hover,
.contact-form-btn:focus {
    background: #1f3cd4;
}

/* .cont-img {
    border-right: 50px;
    overflow: hidden;
} */

.contact-img {
    padding-top: 20px;
    border-radius: 50px;
    overflow: hidden;
}

@media screen and (min-width: 1280px) {
    .contact-img {
        padding-top: 0;
    }
}