.section {
  /* width: 375px; */
}

.header-section {
  border-bottom: 1px solid #e7e9fc;
}

/* .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* padding: 20px 0; */
/* position: relative; */

.navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0;
  margin: 0 auto;
}

.header-logo {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-right: 0;
}

.header-list {
  display: none;
}

.header-list-item {}

.header-list-ref {
  position: relative;
}

.header-sm-list {
  display: none;
}

.header-sm-list-item {}

.header-sm-list-ref {}

.menu-sm-list-ref:hover svg use,
.menu-sm-list-ref:focus svg use {
  fill: #3350e9;
}

.menu-span {
  color: #fbfbfb;
}

.bm-btn {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.svg-icons {
  fill: #fbfbfb;
}

/* Mobile Menu */

.mob-menu {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 39px;
  padding-right: 39px;
  padding-top: 240px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  z-index: 2;

  background-image: url('../img/header/bg-menu-mob-min.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  @media (min-resolution: 192dpi) {
    background-image: url('../img/header/bg-menu-mob-2x-min.jpg');
  }
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background-color: transparent;
  padding: 0;
  border: none;
}

.close-btn-svg {
  fill: #ffffff;
}

.menu-navigator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.menu-list-item {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
}

.menu-sm-list-item,
.menu-sm-list-ref {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.menu-sm-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin: 0;
  padding-top: 100px;
}

.menu-sm-list-ref {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
}

.menu-sm-list-item {}

.mob-menu .menu-list-item .menu-list-ref {
  position: relative;
}

.mob-menu .menu-list-ref::after {
  content: '';
  display: none;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #3350e9;
}

.mob-menu .menu-list-ref:hover::after,
.mob-menu .menu-list-ref:focus::after {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-ref::after {
  content: '';
  display: none;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #3350e9;
  transition: width 0.3s ease;
  visibility: hidden;
}

.header-list-ref:hover::after,
.header-list-ref:focus::after {
  display: block;
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .navigator {
    margin: 0 auto;
  }

  .header-logo {
    gap: 4px;
    font-size: 20px;
  }

  .mob-menu {
    width: 330px;
    height: 100%;

    padding: 310px 101px 50px 101px;
    /* padding-top: 310px;
    padding-bottom: 50px;
    padding-left: 128px;
    padding-right: 129px; */

    background-image: url('../img/header/bg-menu-tab-min.jpg');
    background-size: cover;
    background-position: center;

    @media (min-resolution: 192dpi) {
      background-image: url('../img/header/bg-menu-tab-2x-min.jpg');
    }
  }

  .menu-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
  }

  .menu-sm-list-ref {
    width: 36px;
    height: 36px;
  }

  .menu-sm-list {
    padding-top: 350px;
  }

  .svg-icons {
    width: 20px;
    height: 20px;
  }



  .close-btn-svg {
    width: 40px;
    height: 40px;
  }

  .bm-btn-svg {
    width: 40px;
    height: 40px;
  }

  .header-logo {
    font-size: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .bm-btn {
    display: none;
  }

  .navigator {
    display: flex;
  }

  .header-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
  }

  .header-list-item {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #0c0c0c;
  }

  .header-list-ref {
    white-space: nowrap;
    position: relative;
  }

  .header-sm-list {
    display: flex;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-list-item:first-child .header-list-ref {
    position: relative;
  }

  .header-list-item:first-child .header-list-ref::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #3350e9;
  }

  .header-sm-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
  }

  .header-sm-list-ref {
    border: 1px solid rgba(12, 12, 12, .1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
    display: block;
  }

  .header-sm-list-ref:hover svg use,
  .header-sm-list-ref:focus svg use {
    fill: #3350e9;
  }
}