.title-h1{
    color: #0C0C0C;

    /* Mobile/H1 */
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px; /* 95% */
    letter-spacing: -0.8px;
}
.decorait-collection{
    color: #3350E9;

    /* Mobile/H1 */
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.8px;
}
.subtitle{
    color: rgba(12, 12, 12, 0.70);

/* Mobile/Main text */
font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
}
.list-team{
    display: flex;
}
.list-foto{
    padding-right: -20px;
}
.list-foto img{
    position: relative;

 
}
.conteiner-team{
display: flex;

}
.avatar{
    margin-right: -12px;
    width: 44px;
height: 44px;
}
.link-scrol{
color: #0C0C0C;
font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
text-decoration-line: underline;
align-content: end;


}
.section-avatar{
display: flex;
justify-content:space-between;
margin-top: 28px;
margin-bottom: 28px;
}
.image-hero{
    max-width: 100%;
    border-radius: 30px;
background: linear-gradient(0deg, rgba(12, 12, 12, 0.20) 0%, rgba(12, 12, 12, 0.20) 100%), lightgray -162.223px -2.385px / 197.087% 101.471% no-repeat;

}
